@mixin full {
  width: 100%;
  height: 100%S;
}

@mixin text-center {
  text-align: center;
}

@mixin text-right {
  text-align: right;
}

@mixin center-h-v {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-cover {
  @include full;
  position: absolute;
  left: 0;
  right: 0;
}

@mixin caption {
  padding: $large-padding;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 5px;
  position: absolute;
  width: auto;
  bottom: 0;
  left: 10px;
  z-index: 10;
  @include text-center;
  color: rgba($info, 0.3);
}

@mixin main-text {
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.5em;
  h1,
  h2 {
    font-weight: inherit;
    font-size: $big;
    line-height: 1.2em;
    letter-spacing: 0.2em;
  }
}

@mixin transition {
  transition: all 0.6s ease-out;
}
